<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,path,ppathpart</title>
                                                                        
                                                                        
                                                                        
      
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                                     
<p class="h">Der Parmater part</p>
     
<p class="p">Der Parameter part erwartet als Parameterwert eine legalen Kleio-Pfad, 
   <u> <strong>der als Konstante</strong></u>, also in Hochkommata angegeben 
werden    mu&szlig;!</p>
     
<p class="p">Der Inhalt des Elements am Ende des Pfades wird in die tempor&auml;re
    Variable &uuml;bergeben, die durch die variable-Direktive angelegt worden
 sein    mu&szlig;. Es handelt sich also um jene Textinformation, die im
Rahmen  der Wiedergabe    eines Bildcontainers zus&auml;tzlich oder anstelle
des Bildes angezeigt werden    kann bzw. soll.</p>
     
<p class="p">Die path-Direktive hat damit folgende Form:</p>
     
<p class="b">path source=uustb;self="&amp;nbsp;";package=desmap1-i1;<u>part="/root[0]/aob30:a3100"</u>;</p>
   <span class="p">Hier wird also der Inhalt des Elements "a3100"    zur
Darstellung  ausgew&auml;hlt. </span><br>
        
<p class="p">&nbsp;</p>
   <br>
   <br>
</body>
</html>
