<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,path,tpathpackage</title>
                                                                        
                                                                        
                                                                        
             
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                                       
<p class="h">Der Paramater Package</p>
       
<p class="p">Der Parameter<b> package</b> erwartet als Parameterwert den
Namen einer     Vereinbarung der <a href="../../Package/index.htm"
 target="_blank">Klasse  package</a>.    Die darin angegebenen Verpackungsanweisungen
werden auf den  Inhalt angewendet,    der durch die jeweilige path-Direktive
ausgew&auml;hlt  ist. Das Package bestimmt    die optische Wiedergabe der
textuellen Information.  &Uuml;blicherweise wird    man hier z.B. eine Tabellenzelle
o.&auml;. generieren.  Es ist aber auch z.B.    m&ouml;glich, den Inhalt
mit anderen Druckkonstanten  zu versehen. Man habe folgendes    Package:</p>
       
<p class="b">item name=desmap1-i1;usage=package;overwrite=yes<br>
      fields start='&lt;td valign=top height="20" width="14%"&gt;';limit='&lt;/td&gt;\n';<br>
      exit name=desmap1-i1 </p>
       
<p class="p"> Es wird hier also im Prinzip eine Tabellenzelle gesetzt in der
die    Information eingef&uuml;gt wird. Entsprechend hat die path-Direktive 
 folgende    Form:</p>
       
<p class="b">path source=archgiessen;part=':p_k&uuml;nstler';self="&amp;nbsp;";<u>package=desmap1-i1<br>
      </u> </p>
       
<p class="b">&nbsp; </p>
       
<p class="p">&nbsp;</p>
    <br>
   <br>
   <br>
</body>
</html>
