<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,frame,temptestd</title>
                                                                        
                                                                        
                                                                        
             
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                                       
<p class="h">Die test-Direktive</p>
       
<p class="p">Die Direktive test erlaubt tempor&auml;re Manipulationen an den Eintr&auml;gen 
  in Containern. Der Zweck ist folgender: Bei komplexen Servern kann (je nach 
  Aufbau des Servers) der Eintrag einer Identifikationsnummer im Container vom 
  Wert des entsprechenden Eintrags im zugeh&ouml;rigen Katalog abweichen. Dies 
  ist. gew&ouml;hnlich die Folge von Zeichenkettenoperationen. </p>
<p class="p">Beim Aufruf des entsprechenden Containers kann also der entsprechende 
  Eintrag nicht im Katalog identifiziert und entsprechend nicht dargestellt werden. 
  Dem Problem kann mit verschiedenen Ma&szlig;nahmen beigekommen werden:</p>
<ol>
  <li>Es ist m&ouml;glich den Inhalt der betreffenden Information mit einem conditional 
    <a href="../../Package/index.htm" target="_blank">Package</a> zu verpacken 
    . Dabei kann in der Bedingung eine Zeichenkettenoperation durchgef&uuml;hrt 
    werden, die wiederum die Zeichenkette im Container so ver&auml;ndert, da&szlig; 
    sie im Katalog aufgefunden werden kann.</li>
  <li>Die Direktive test erlaubt eine tempor&auml;re (nur adhoc wirksame) Manipulation 
    der Zeichenkette im Container, um so sicherzustellen, da&szlig; diese im Katalog 
    identifiziert werden kann. </li>
</ol>
<p class="p">Die Direktive kann mehrfach angegeben werden. In diesem Fall beziehen 
  sich die Test jeweils immer auf die Ausgangszeichenkette, die somit in jeder 
  Direktive identisch ist. </p>
<p class="p">&nbsp;</p>
       
<p class="p">&nbsp;</p>
    <br>
     
</body>
</html>
