<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,initialize,parameters</title>
                                                                        
                                                                        
                                                   
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                             
<p class="h">Parameter zur table-Direktive des Objekts der Klasse template</p>
                                                           
<p><a href="prelim.html" target="w3"> lines</a><br>
 <a href="prelim.html" target="w3"> ordered</a><br>
 <a href="ttablepackage.html" target="w3"> package</a><br>
        <a href="ttableself.html" target="w3"> self</a><br>
                                             </p>
                              <br>
                                 <br>
                          <br>
                          <br>
                       <br>
                        <br>
                    <br>
                  <br>
                <br>
              <br>
            <br>
         <br>
         <br>
       <br>
     <br>
   <br>
</body>
</html>
