<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,test,testcurrent</title>
                                                                        
                                                                        
                       
  <link rel="stylesheet" type="text/css" href="../../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                     
<p class="h">Der Parameter current</p>
<p align="left" class="p">Der Parameter current erwartet als Parameterwert einen 
  frei w&auml;hlbaren Namen einer lokalen Variable. Die jeweils getestete Zeichenkette 
  aus dem Container wird unter der besagten Variable abgelegt und steht dann f&uuml;r 
  komplexere Operationen tempor&auml;r zur Verf&uuml;gung. D.h., sie kann mittels 
  der Funktion<a href="../../../../../functions/elemdump.htm" target="_blank"> 
  :dump[]</a> lokal ausgegeben und bearbeitet werden. </p>
<p align="left" class="p">Dabei k&ouml;nnen s&auml;mtliche in Kleio zul&auml;ssigen 
  Zeichenkettenoperationen ausgef&uuml;hrt werden. Z.B.:</p>
<p class="b">test current=<u>variable</u>;<br>
  part=':substr[:conv[:dump[:argument],imagounify],:size[:conv[:dump[<u>variable</u>],imagounify]]&amp;-:form[&quot;15&quot;,number],16]'<br>
  <br></span>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
</body>
</html>
