<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,variable,tempvard</title>
                                                                        
                                                                        
                                                                        
             
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                                       
<p class="h">Die variable-Direktive</p>
       
<p class="p">Die Direktive variable erlaubt die Defitinition von Variablen, in 
  denen der Inhalt verschiedener Datenbankeintr&auml;ge gesammelt werden kann. 
  Dabei k&ouml;nnen die entsprechenden Informationen in einer oder mehreren getrennten 
  Datenbanken vorliegen. </p>
<p class="p">Die Direktive kennt gegenw&auml;rtig nur den Parameter name, der 
  der Variablen einen Name zuweist</p>
<p class="p">Alle path-Dirketiven, die auf eine variable-Direktive folgen, sind 
  relativ zu dieser. das hei&szlig;t, sie &quot;f&uuml;llen&quot; die Variable 
  mit Inhalt. Dies gilt so lange, bis eine neue variable-Direktive eingef&uuml;hrt 
  wird. </p>
</body>
</html>
