<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,frame,tempinitd</title>
                                                                        
                                                                        
                                                   
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                             
<p class="h">Die initialize-Direktive</p>
       
<p class="p">Die Direktive initialize setzt voraus, da&szlig; in der frame-Direktive 
 der Parameter project mit dem Wert <b>yes</b> spezifiziert wurde. Wenn dies 
 zutrifft, so unterscheidet das System zwischen verschiedenen Projekten. Das
 hei&szlig;t, es werden unterhalb des Wurzelverzeichnisses verschiedene Directorys
 angelegt, die ihrerseits mehrere Container enthalten k&ouml;nnen.<br>
   </p>
     
<p class="p">Jedes dieser Verzeichnisse entspricht einem "Projekt". Aufgabe 
 der Direktive initialize ist es, einen Defaultwert f&uuml;r das erste Verzeichnis 
 und die drin enthaltene erste Datei festzulegen.<br>
   </p>
     
<p class="p">Die Angabe<br>
   </p>
     
<p class="b">initialize name=mappe;project=projekt<br>
   </p>
  <br>
  legt also fest, da&szlig; unterhalb des Userverzeichnisses ein Verzeichnis
 "projekt" angelegt wird, worin der erste Container den Namen mappe tragen
 soll.<br>
    <br>
 
</body>
</html>
