<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,initialize,parameters</title>
                                                                        
                                                                        
                
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                   
<p class="h">Parameter zur initialize-Direktive des Objekts der Klasse template</p>
                                                 
<p><a href="tinitname.html" target="w3"> name</a><br>
   <a href="tiniproject.html" target="w3"> project</a><br>
                                        </p>
                         <br>
                            <br>
                     <br>
                     <br>
                  <br>
                   <br>
               <br>
             <br>
           <br>
         <br>
       <br>
    <br>
    <br>
 
</body>
</html>
