<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,frame,package</title>
                                                                        
                                                                        
                              
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                       
<p class="h">Der Parameter target</p>
                           
<p class="p">Der Parameter target erwartet als Parameterwert die Angabe eine 
  Pfades, der als Konstante, also in Hochkommata angegeben werden mu&szlig;. 
  Das hier angegebene Dateiverzeichnis entspricht dem Wurzelverzeichnis, in
  dem die container (=Arbeitsmappen bzw. Pr&auml;sentationen) abgelegt werden.
  F&uuml;r jede Usergruppe und abh&auml;ngig von dieser wiederum f&uuml;r
jeden  User werden davon ausgehend weitere Verzeichnisse angelegt. Die Zeile<br>
     </p>
         
<p class="b">frame target="/hdg/Prometheus2/mappen";<br>
     </p>
       
<p class="p">w&uuml;rde anordnen, da&szlig; die Container in einer Verzeichnisstruktur
  abgelegt werden, die vom Verzeichnis "/hdg/Prometheus2/mappen" ihren Ausgang
  nimmt.</p>
     <br>
        <br>
    <br>
 
</body>
</html>
