<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>template,frame,sensitive</title>
                                                                        
                                                                        
                                                   
  <link rel="stylesheet" type="text/css" href="../../../../style.css">
</head>
  <body link="#666666" vlink="#666666" bgcolor="#e6e6e6">
                                                             
<p class="h">Der Parameter sensitive</p>
                                 
<p class="p">Der Parameter sensitive erwartet als Parameterwert die Schl&uuml;sselworte 
  <b>yes</b> oder <b>no</b>, die auf den ersten Buchstaben abgek&uuml;rzt 
werden  k&ouml;nnen. Der Standard in no. Der Wert yes ordnet an, da&szlig; 
die Container  in usersensitiv abgelegt werden. Das hei&szlig;t, da&szlig; 
f&uuml;r die einzelnen User entsprechende Unterverzeichnisb&auml;ume abh&auml;ngig 
vom Stammverzeichnis (vgl. Parameter target) angelegt werden.<br>
     </p>
         
<p class="p">Eine entsprechende Direktive hat folgende Form:<br>
     <br>
     </p>
            
<p class="b">frame package=desmap-a1;target="/hdg/Prometheus2/mappen";<u>sensitive=yes</u></p>
    <br>
        <br>
    <br>
 
</body>
</html>
